* {
  font-family: "Source Serif Pro", serif;
  font-size: 16px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3.heading {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}
.heading-underline {
  width: 15%;
  border-top: 0.2rem solid rgb(67, 211, 216);
  margin: 2rem auto;
}

.offset::before {
  content: "";
  height: 3.8rem;
  margin-top: -3.8rem;
  display: block;
}
/* Navigation */

.bg-dark {
  background-color: rgba(12, 11, 11, 0.4) !important;
}

.navbar-nav .nav-item .nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
}
.nav-item {
  padding-right: 0.8rem;
}

.navbar-brand img {
  height: 2rem;
}

/* Carousel */

.carousel-caption {
  position: absolute;
  top: 35%;
}
.carousel-caption h1,
.carousel-caption h3 {
  padding-bottom: 2.3rem;
}
.carousel-item img {
  max-width: 100%;
}
.carousel-caption .btn {
  padding: 0.5rem 2rem;
  transition: transform ease-in 500ms;
}
.carousel-caption .btn:hover {
  background-color: rgb(127, 240, 255);
  transform: scale(1.2);
}
/*Portfolio*/

.portfolio {
  overflow: hidden;
}
.portfolio img {
  max-width: 100%;
  transition: transform ease-in 600ms;
}
.portfolio img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* .row.no-padding [class*="col-"] {
  padding: 0;
}
*/
.row.no-padding .col-sm-4 {
  padding: 0;
}

/* Resources */

#resources .jumbotron {
  border-radius: 0;
}
.resource {
  text-align: center;
  line-height: 2.5rem;
}

.resource .fab {
  color: rgb(252, 101, 0);
}

/* Clients */

#developers {
  overflow: hidden;
}

.developers img {
  max-width: 100%;
  border-radius: 50%;
}

.developers-underline {
  border-top: 0.1rem solid rgb(67, 211, 216);
}

/* Contact */

/* Media Queries */

@media screen and (max-width: 767px) {
  .carousel-caption h1 {
    font-size: 2rem;
    padding: 0;
  }
  .carousel-caption h3 {
    font-size: 0.7rem;
    padding: 0;
  }
  .carousel-caption .btn {
    padding: 0.6rem 1.5rem;
    font-size: 0.7rem;
  }
  .carousel-caption {
    position: absolute;
    top: 20%;
  }
}
